<div class="loader">
</div>
<table class="table table-bordered">
  <thead>
    <th> Short Name </th><th> Name </th><th> Description </th> <th>Delete</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in founDdo.foundItems">
      <td> {{item.short_name}} </td>
      <td> {{item.name}} </td>
      <td> {{item.description}} </td>
      <td><button class="btn btn-danger btn-xs" ng-click="founDdo.onRemove({index: $index})">Don't want this one!</button></td>
    </tr>
  </tbody>
</table>

<div ng-transclude class="error">

</div>
